a {
  text-decoration-line: none;
  color: black;
  font-size: large;
}

li a {
  color: #212d42;
  font-size: 13px;
}

.colorKosign {
  background-color: #212d42;
}

.aNavbar {
  color: aliceblue;
}

ul {
  display: none;
  list-style-type: circle;
}

.bgC {
  background: rgb(208, 238, 174);
  background: radial-gradient(circle,
      rgba(208, 238, 174, 1) 11%,
      rgba(63, 72, 170, 0.7315301120448179) 100%);
}

h5 {
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}